*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Blinker', sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter
}
a{
  text-decoration: none;
  color: black;
}



/*-------------------------- header--------------------------------*/
.logo{
  width: 100px;
}
.logo img{
  width: 100%;
  object-fit: cover;
}
header{
  z-index: 30;
  position: fixed;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow:  4px 4px 4px black;
  width: 100%;
  height: 48px;
}


/*--------------------------Iocons--------------------------------*/
.fa-solid, .fa-brands, .fa-regular{
  height: 40px;
  width: 40px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}



/*--------------------------Carrusel-imagenes---------------------------------*/



.carrusel{
  display: flex;
  background-color: grey;
  height: 280px;
  overflow: hidden;
  
  
}
.cont-carrusel{
  
  
  width: 100%;
  display: flex;
  animation: cambio 10s infinite alternate linear;
}
picture{
  flex: 1 0  auto;
  width: 100%;
  
  
}
img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.sello{
  width: 25%;
  height: 15%;
  opacity: .1;
  position: absolute;
  top:40%;
  left: 40%;
}
.cont-carrusel picture{
  position: relative;
}


/*--------------------------Sec-about--------------------------------*/



.abaut{
  display: flex;
  align-items: flex-start;
  padding: 1rem ;
  width: 100%;
  overflow: hidden;
}

.p{
  display: none;
}
.on{
  display: block;
}
.title{
  display: flex;
  justify-content: space-between;
  
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
}
.abaut div{
  width: 100%;
}



/*--------------------------Sec-servis--------------------------------*/

.servis{
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.servis h1{
  margin: 1rem;
}

.cont-carrusel-servis{
  
  padding: 2rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  width: 100%;
  height: 100%;
  align-items: center;
}
.card{
  border-radius: 16px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  
  flex: 1 0 auto;
  margin: 0 20px;
  background-color: rgb(99, 9, 9);
  width: 248px;
  height: 280px;
  overflow: scroll;
}

.card h3{
  margin: 1rem;
}
.img-servis{
  position: absolute;
  opacity: .3;
}
.card ul{
  margin-left: 1.5rem;
}



/*--------------------Sec-Clientes----------------------*/

.my-projects{
  display: flex;
  width: 100%;
  margin: 4rem 0;

  
}
.my-projects div{
  margin-top: 2rem;
  width: 80%;

}


/*---------------------Footer---------------------------------*/

.cont-form{
  position: relative;
  display: flex;
  
}
.cont-form .fondo{
  z-index: -10;
  height: 100%;
  width: 100%;
  
  position: absolute;
  object-fit: cover;

  
}

footer{
  width: 100%;

}


section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cont-form h3{
  color: white;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  background-color:rgba(99, 9, 9, 0.781);
  border-radius: 8px;
}







textarea{
  margin-top: 1rem;
  border: 1px solid gray;
  padding: .5rem;
  height: 80px;
}
.send-button{
  color: white;
  background-color: rgb(223, 32, 32);
  
  margin-top: 1rem;
  border: none;
  height: 40px;
  border-radius: 8px;
  padding: .5rem ;
}




.cont-socials{
  color: white;
  display: flex;
  justify-content: center;
  width: 50%;
  top: -20px;
}

.contact{
  background-color: black;
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.data-contact{
  display: flex;
  flex-direction: column;align-items: center;
  width: 100%;
  margin: 1rem;
}
.data-contact div{
  margin: 1rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 4px black;
  border-radius: 8px;
  
}
.cont-faceboock p{
  color: white;
  margin-left: 1rem;
  text-shadow: 2px 2px 2px black;
}
/*.cont-faceboock{
  background-color: #0866ff;
  

}*/
.cont-faceboock i {
  /*color: #0866ff;
  background-color: white;*/
  color: white;
}

/*.cont-instagram{
  background: linear-gradient(to top right, #F58529 10%,#fEDA77 30% , #DD2A7B 50% , #8134AF 90% );
}*/
.cont-instagram i{
  color: white;
  text-shadow: 2px 2px 2px black;
}


.cont-instagram p{
  text-shadow: 2px 2px 2px black;
  color: white;
  margin-left: 1rem;
}

.cont-email{
  min-width: 300px;
  /*background-color: red;*/
}
.cont-email p{
  text-shadow: 2px 2px 2px black;
  margin:auto;
  color: white;
}

.cont-email i{
  text-shadow: 2px 2px 2px black;
  color: white;
}


.cont-whatsapp{
  /*background: linear-gradient( to right top,#075e54,#128c7e ,#25d366 );*/
  min-width: 300px;
}

.cont-whatsapp p{
  text-shadow: 2px 2px 2px black;
  color: white;
  margin: auto;
}

.cont-whatsapp i{
  text-shadow: 2px 2px 2px black;
  color: white;
}



@keyframes cambio{
  0%{margin-left: 0;}
  30%{margin-left: 0;}

  33%{margin-left: -200%;}
  66%{margin-left: -200%;}

  70%{margin-left: -400%;}
  100%{margin-left: -400%;}

  
}




.form{
  
  padding: 2rem;
  margin-bottom:1rem ;
  width: 80%;
  box-shadow: 10px 20 px 30px black;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.form input{
  width: 100%;
  background: none;
  
  border: none;
  outline: 0px;
}

.form .lbl-nombre{
  position : absolute;
  top:20px;
  left: 0;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

.box-input{
  margin-bottom: 3rem;
  position: relative;
}

.text-nomb{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all .3s ease;
  
}

textarea{
  width: 100%;
}
.send-button{
  width: 100%;
}

.form input:focus + .lbl-nombre .text-nomb,
.form input:valid + .lbl-nombre .text-nomb{
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}

.form input:focus + .lbl-nombre::after,
.form input:valid + .lbl-nombre::after{
  transform: translatex(0%);
}

.cont-alert{
  display: flex;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.74);
  justify-content: center;
  align-items: center;
}

.alert{
  
  background-color: #fff;
  font-size: 24px;
  box-shadow: 10px 10px 10px black;
  padding: 1rem;
}


@media only screen and (min-width: 1068px){

  
  .sello{
    top: 30%;
    

  }
  h1{
    font-size: 48px;
  }

  .abaut{
    padding: 3rem;
  }
  .abaut div{
    height: 50vh;
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
  }
  .title{
    padding: 2rem;
    width: 50%;
    border: none;
    border-radius: 12px 0 0 12px;
  }
  .p{

    padding: 2rem;
    border-radius: 50px;
    width: 50%;
    display: block;
  }
  .abaut div .fa-solid{
    display: none;
  }





  .carrusel{
    height: 100vh;
  }



  .servis{
    padding: 3rem;
  }


  .my-projects{
    flex-direction: row;
  }

  .my-projects h1{
    padding: 3rem;
    width: 50%;
  }

  .my-projects div{
    width: 50%;
    padding: 3rem;
  }

.cont-form{
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
}
  .cont-form h3{
    font-size: 48px;
    height: 50%;
    width: 50%;
  }

  .cont-form form{
    width: 30%;
  }


 

  ::-webkit-scrollbar {
    display: none;
}
  


  [data-animation ="fade"]{
    opacity: 0;
    transform: translate(100%);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform:translate(0) ;
  }

  [data-animation ="show"]{
    opacity: 0;
    transform: scale(0);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform:scale(1) ;
  }


  [data-animation ="up"]{
    opacity: 0;
    transform: translatey(100%);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform:translateY(0) ;
  }


  [data-animation ="left"]{
    opacity: 0;
    transform: translate(-100%);
    transition: .3s ease-in .3s;

    --opacity:1;
    --transform:translate(0) ;
  }

  .unset{
    opacity: var(--opacity);
    transform: var(--transform);
  }


}